.menu button,
.right-buttons button {
    background: #000dff;
    border: none;
    color: white;
    padding: 10px 25px;
    margin: 0 8px;
    border-radius: 12px;
    cursor: pointer;
    font-size: 15px;
}

.menu {
    display: flex;
}

.right-buttons {
    display: flex;
}

/* Geri Dön */
.back-btn {
    margin: 20px;
    padding: 10px 25px;
    background: #00ff00;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/* Ana İç Kutu */
.container {
    width: 85%;
    margin: auto;
    margin-top: 10px;
    background: #d9d9d9;
    padding: 40px;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
}

/* İç Sarı Kutular */
.box {
    width: 48%;
    height: 500px;
    background: yellow;
    border-radius: 10px;
    position: relative;
    padding: 20px;
    box-sizing: border-box;
    font-size: 22px;
    text-align: center;
}

/* Gönder Butonu */
.send-btn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: #00d4ff;
    border: none;
    padding: 10px 25px;
    border-radius: 6px;
    font-size: 18px;
    cursor: pointer;
}


