.main-block{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
}
.main-block a {
    font-size: xx-large;
    text-decoration: none;
    background-color: antiquewhite;
    color: black;
    padding: 10px;
    border-radius: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    position: relative;
    top: -15px;    /* aşağı */
    left: 10px;  /* sağa */
}
.main-block a:hover {
    transition: 1s;
    background-color:#333;
    color: white;
    }