.none_content{
    height: 50px;
    width: 96%;
    padding: 20px;
}
.site-header {
    background-color: #333;
    color: white;
    padding: 20px;
    display: grid;
    height: 50px;
    width: 96%;
    grid-template-columns: 1fr 1fr 8fr 1fr;
    position: fixed;
    bottom: 86%;
}
.logo{
    grid-column: 1;
    width: 60px;
    height: 60px;
    align-self: center;
    justify-self: center;
}
#nav-button-img{
    grid-column: 1;
    width: 40px;
    height: 40px;
    align-self: center;
    justify-self: center;
}
.site-header button {
    grid-column: 4;
    background: none;
    border-radius: 20px;
    border: none;
}
.site-header button img {
    transition: 0.3s;
}
.menu-item {
    display: none;
    top: 100%;       /* header’ın altına */
    right: 20px;     /* sağa hizalama */
    z-index: 1000;  /* üstte görünmesi için */
    position: absolute; /* BUNU EKLE */
    background-color: gray;
}

.menu-item a {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    color: black;
    width: max-content;
   font-size: 20px;
    padding: 20px;
    font-weight: bold;
    border-radius: 20px;
}
.menu-item a:hover {
    transition: 1s;
    color: green;
}
.menu-item.show{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 10px;
}

@media (min-width: 768px){
    .site-header{
        grid-template-columns: 1fr 2fr 14fr;
        gap: 10px;
        display: grid;
        height:auto;
        align-items: center;
    }
    .logo{
        width: 80px;
        height: 80px;
        grid-column: 1;
        justify-self: start;
        position: absolute;
    }
      /* NAV masaüstünde görünür ve header'ın 4. kolonuna oturur */
    .menu-item {
        display: flex !important;   /* görünür */
        position: static;           /* artık dropdown değil */
        grid-column: 3;             /* header içindeki konumu */
        flex-direction: row;        /* yatay diz */
        align-items: center;
        gap: 20px;
        background: none;
        padding: 0;
    }
    .menu-item a {
        color: white;
        border-radius: 50px;
        align-items: center;
        padding: 10px;
        border-width: 20px;
        font-size: 25px;
        align-self: center;
    }
    .menu-item a:nth-child(4){
        margin-left: auto;
    }
    .menu-item a:nth-child(5){
        background-color: aqua;
    }
    .menu-item a:hover {
        background-color: white;
        color: black;
    }
    #nav-button{
        display: none;
    }
}
