.content_block_first{
    display: flex;
    justify-self: center;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
    background-color: #cdb38b;
    width: 80%;
    height: 300px;
    border-radius: 30px;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}   .content_block_first .content{
        display: flex;
        flex-direction: column;   /* İçerik dikey sıralansın */
        justify-content: flex-start;
        gap: 10px;                /* elemanlar arasında boşluk */
        border-radius: 40px;
        height: 250px;
        width: 25%;
        background-color: aliceblue;
        margin-right: 50px;
        margin-left: 50px;
        box-shadow: 0px 4px 10px rgba(0,0,0,0.3);
    }   .content_block_first .content h3{
            padding-left: 20px;
            padding-right: 20px;
            text-align: center;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        .content_block_first .content .h3-block{
            background-color: #f3ab36;  
            border-top-left-radius: 30px;
            border-top-right-radius: 30px;
        }
        .content_block_first .content a{
            margin-left: 10px;
            text-decoration: none;
            font-size: 14px;
            color: black;
            height: auto;
            width: 90%;
            display: block;
            overflow-wrap: break-word;
            white-space: normal;
            cursor: default;
        }
        .content_block_first .content .time{
            display: flex;
            flex-direction: column;
            align-items: center;
            color: rgb(131, 130, 130);
            font-size: 13px;
        }
        .content_block_first .content .time time:nth-child(1){
            margin-right: 20px;
            margin-left: 20px;
        }
        .content_block_first .content .time time:nth-child(2){
            margin-left: 20px;
        }
        .content_block_first .content ul{
            list-style: none;
            font-size: 15px;
        }
        .content_block_first .content ul li{
            display: block;
            overflow-wrap: break-word;
            white-space: normal;
        }
        .content_block_first .content table tr{
            height: 50px;
        }
.content_block_second {
    display: flex;
    flex-wrap: wrap;        /* taşan kutu alt satıra geçer */
    justify-content: flex-start;
    gap: 30px;
    background-color: #8b795e;
    width: 80%;
    border-radius: 30px;
    margin: 20px auto;
    padding: 20px;
}

.content_block_second > div {
    flex: 0 0 calc(33.33% - 30px); /* 3 kutu yan yana */
    height: 400px;
    border-radius: 40px;
    background-color: aliceblue;
}
