body {
    margin: 0;
    background: #ffffff;
    font-family: Arial, sans-serif;
}

.top-tabs {
    text-align: center;
    margin-top: 20px;
}

.tab {
    padding: 10px 40px;
    font-size: 18px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    margin: 0 20px;
}

.tab.active {
    background: #e2007a;
    color: white;
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

.tab.fav {
    background: #e89d75;
    color: black;
        border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}

/* Eser kartları */
.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    width: 85%;
    margin: 30px auto;
    margin-top: 40px; /* EKLENDİ */
}

.card {
    background: aliceblue;
    height: 450px;
    border-radius: 4px;
    position: relative;
    padding: 20px;
    text-align: center;
}

.title {
    margin-top: 180px;
    font-size: 28px;
    color: black;
}

/* Kart içi butonlar */
.buttons {
    position: absolute;
    bottom: 20px;
    left: 20px;
    right: 20px;
    display: flex;
    justify-content: space-between;
}

.incele {
    background: #03e3ff;
    border: none;
    padding: 8px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.sil {
    background: #ff0000;
    border: none;
    padding: 8px 20px;
    border-radius: 4px;
    cursor: pointer;
}
