
.footer-placeholder {
    height: 80px;
    width: 100%;
    background: transparent;
}

/* ---------------- PROFIL BÖLÜMÜ ---------------- */

.profile-header {
    width: 100%;
    display: flex;
    flex-direction: column;
}

/* Üstteki kapak fotoğrafı */
.cover-photo {
    width: 100%;
    height: 220px;
    background: cyan;
    font-size: 28px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
} .cover-photo img {
    display: flex;
    justify-self: center;
    align-self: center;
    width: 100%;
    height: 100%;
}

/* Profil bilgileri bölümü */
.profile-info-section {
    width: 100%;
    background: #bfbfbf;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
    position: relative;
}

/* Profil fotoğrafı */
.profile-photo {
    width: 260px;
    height: 260px;
    background: lime;
    border-radius: 50%;
    position: absolute;
    top: -130px;
    left: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-weight: bold;
}.profile-photo img{
    display: flex;
    justify-self: center;
    align-self: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border-radius: 50%;
}

/* Kullanıcı bilgi yazısı */
.user-info {
    font-size: 28px;
    font-weight: bold;
}

/* ---------------- ESERLER BÖLÜMÜ ---------------- */

.user-works-section {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    gap: 40px;
    padding: 70px 40px;
}

.work-card {
    background: #f1b48b;
    width: 100%;
    height: 320px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 26px;
    font-weight: bold;
}
