
/* Üst turkuaz alan */
.top-bg {
    width: 100%;
    height: 300px;
    background: #cff6f7;
} .top-bg-text {
    display: flex;
    justify-self: center;
    align-self: center;
    text-decoration: none;
    color: black;
    font-size: large;
    font-weight: bold;
    padding: 100px;
}

/* İçerik alanı */
.container {
    width: 100%;
    text-align: center;
    margin-top: -150px; /* Profil fotoğrafını yukarı taşımak için */
}

/* Profil fotoğrafı dairesi */
.profile-photo {
    width: 260px;
    height: 260px;
    background: #f8ca24;
    border-radius: 50%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
}

/* Cinsiyet kutusu */
.gender-box {
    margin-top: 40px;
}

.gender-title {
    background: aliceblue;
    display: inline-block;
    padding: 10px 40px;
    border-radius: 10px;
    font-size: 17px;
    margin-bottom: 15px;
}

.gender-btn {
    background: aliceblue;
    border: none;
    padding: 10px 35px;
    font-size: 16px;
    margin: 6px 0;
    border-radius: 10px;
    cursor: pointer;
}

.gender-btn:hover {
    background: rgb(155, 171, 185);
}

/* Input alanı */
.form-area {
    margin-top: 40px;
}

label {
    display: block;
    margin-bottom: 6px;
    font-size: 17px;
    text-align: left;
    width: 460px;
    margin-left: auto;
    margin-right: auto;
}

input {
    width: 460px;
    padding: 12px;
    background: aliceblue;
    border: none;
    border-radius: 10px;
    margin-bottom: 25px;
    font-size: 16px;
}

/* En alttaki büyük buton */
.submit-btn {
    width: 460px;
    padding: 18px;
    margin-top: 20px;
    background: #f3ab36;
    border: none;
    border-radius: 12px;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

.submit-btn:hover {
    background: #e4b51f;
}

/* Mobil düzen */
@media(max-width: 600px) {

    label, input, .submit-btn {
        width: 85%;
    }

    .profile-photo {
        width: 200px;
        height: 200px;
        font-size: 18px;
    }
}
